<!DOCTYPE html>
<html>
<head>
  <!--LOAD PRE-REQUISITES FOR GOOGLE SIGN IN -->
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
   <script src="https://apis.google.com/js/client:platform.js?onload=start" async defer></script>
   <script>
      function start() {
        gapi.load('auth2', function() {
          auth2 = gapi.auth2.init({
            client_id: '545095717188-e75tvpgek7gm8secbts51ljm7jnlhkrn.apps.googleusercontent.com'
          });
        });
      }
    </script>
<!-- END PRE-REQUISITES FOR GOOGLE SIGN IN -->
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
  <link href='https://fonts.googleapis.com/css?family=Advent Pro' rel='stylesheet'>
</head>






<!-- GOOGLE PLUS SIGN IN-->

<button id="signinButton">Sign in with Google Federation</button>
<div id="result"></div>
          
<script>
      $('#signinButton').click(function () {
        function signInCallback(authResult) {
          if (authResult['code']) {
            // Hide the sign-in button now that the user is authorized
            $('#signinButton').attr('style', 'display:none');
            // Send the one-time-use code to the server, if the server responds, write a 'login successful' message to the web page and then redirect back to the main restaurants page
            $.ajax({
              type: 'POST',
              url: '/gconnect?state={{STATE}}',
              processData: false,
              data: authResult['code'],
              contentType: 'application/octet-stream; charset=utf-8',
              success: function (result) {
                // Handle or verify the server response if necessary.
                if (result) {
                  $('#result').html('Login Successful!</br>' + result + '</br>Redirecting...');
                  setTimeout(function () {
                    window.location.href = "/";
                  }, 4000);
                } else if (authResult['error']) {
                  console.log('There was an error: ' + authResult['error']);
                } else {
                  $('#result').html('Failed to make a server-side call. Check your configuration and console.');
                }
              }
            });
          }
        }
        auth2.grantOfflineAccess().then(signInCallback);
      })
</script>

<body class='loginpage'>
  <header>
    <h1 class="inline"><a href = "{{url_for('showEvents')}}" style="color:black">Back to Events</a></h1>
  </header>
<!--
          <div id="signInButton">
          <span class="g-signin"
            data-scope="openid email"
            data-clientid="545095717188-e75tvpgek7gm8secbts51ljm7jnlhkrn.apps.googleusercontent.com"
            data-redirecturi="postmessage"
            data-accesstype="offline"
            data-cookiepolicy="single_host_origin"
            data-callback="signInCallback"
            data-approvalprompt="force">
          </span>
        </div>

<div id="result"></div>


<script>
function signInCallback(authResult) {
  if (authResult['code']) {
    // Hide the sign-in button now that the user is authorized
    $('#signinButton').attr('style', 'display: none');
    // Send the one-time-use code to the server, if the server responds, write a 'login successful' message to the web page and then redirect back to the main restaurants page
    $.ajax({
      type: 'POST',
      url: '/gconnect?state={{STATE}}',
      processData: false,
      data: authResult['code'],
      contentType: 'application/octet-stream; charset=utf-8',
      success: function(result) {
        // Handle or verify the server response if necessary.
        if (result) {
            $('#result').html('Login Successful!</br>'+ result + '</br>Redirecting...')
            setTimeout(function() {
                window.location.href = "/home";
            }, 3000);
            console.log('Signing In');
        } else if (authResult['error']) {
            console.log('There was an error: ' + authResult['error']);
        } else {
        $('#result').html('Failed to make a server-side call. Check your configuration and console.');
         }
      }
  }); } }
</script>
-->
<!--END GOOGLE PLUS SIGN IN -->
</body>
</html>